body{
    background-image: url();
}

div{

   
    border: 2px solid black;
    position: absolute;
    height: 25%;
    width: 40%;
    top: 37.5%;
    left: 30%;

}

.message{
    color: black;
    text-align: center;
    font-size:larger;
}

