body{
    background-image: url();
}

.alert{

   
    border: 2px solid black;
    position: absolute;
    height: 36%;
    width: 40%;
    top: 32%;
    left: 30%;

}

.message{
    position: absolute;
    top: 12%;
    color: black;
    text-align: center;
    font-size:larger;
}

.alert-mobile{
    border: 2px solid black;
    position: absolute;
    height: 30%;
    width: 50%;
    top: 35%;
    left: 25%;
}

@media(max-width:640px){

.alert{
    display: none;
}

.mobile-message{
    position: absolute;
    top: 8%;
    font-size: medium;
    text-align: center;
}
}

@media(min-width:641px) {
    .alert-mobile {
        display: none
    }
  }

